{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    <div class="row">

        <div class="col-lg-12">

            <div class="box-element">

                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
                <br><br>
                <table class="table">
                    <tr>
                        <th>Items: 3</th>
                        <th>Total: $200</th>
                        <th><a style="display: block; float: right;"  class="btn btn-success" href="{% url 'checkout' %}">Check Out</a></th>
                    </tr>
                </table>

            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2;"></div>
                    <div style="flex: 2;"><strong>Item</strong></div>
                    <div style="flex: 1;"><strong>Price</strong></div>
                    <div style="flex: 1;"><strong>Quantity</strong></div>
                    <div style="flex: 1;"><strong>Total</strong></div>
                </div>
                <div class="cart-row">
                    <div style="flex: 2;"><img class="row-image" src="{% static 'images/placeholder.png' %}" alt="product img"></div>
                    <div style="flex: 2;"><strong>Item</strong></div>
                    <div style="flex: 1;"><strong>$200</strong></div>
                    <div style="flex: 1;"><strong>2</strong></div>
                    <div style="flex: 1;"><strong>$400</strong></div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}