<!-- {% load static %} -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Login</button>
        <a href="{% url 'cart' %}" ><img id="cart-icon" src="{% static 'images/cart_icon.png' %}" alt="shopping cart"></a>
      </div>
    </div>
  </nav>