{% extends 'account/main.html' %}

{% block content %}

<!-- Pills navs -->
<br><br>
<div style="height: 100%; position: relative;">
    <div style="width: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 0);">
        <div class="box-element" style="padding: 50px;">

            <form method="post">

                {% csrf_token %}

                <div class="form-group">
                    <h2 style="text-align: center;">Login</h2><br>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password">
                </div>
               <div style="width: 100%; text-align: end;">
                <a href="#">Forgot password?</a>
               </div>
               <br>

               <div style="width: 100%; text-align: center;">
                <button type="submit" class="btn btn-primary" style="width: 200px;">Submit</button>
            </div>
                
                <br>
                <div style="width: 100%; text-align: center;"><small style="margin-right: 10px;">Don't have an account?</small><a href="{% url 'register' %}">Register</a></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}